<h2>Create a new post</h2>

<form action="/posts" method="POST">
  <label>Title: </label>
  <input type="text" name="title">
  <label>Description: </label>
  <input type="text" name="description">
  <input type="submit" value="add post">
</form>