<!DOCTYPE html>
<html>
  <head>
    <title>MyGreatApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <a href="/posts"><h1>Desserts Blog</h1></a>
    </header>
      <a href="/posts/new"><p>Create a new post</p></a>
    <%= yield %>
  </body>
</html>
